body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
}

canvas, .pong-game {
  border: 2px solid var(--primaryAccent);
  border-radius: .5rem;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
}

header img {
  width: 10rem;
  display: flex;
}

header h1 {
  color: var(--primaryAccent);
  font-weight: bold;
  font-size: 1.875rem;
  font-family: "Inter", sans-serif;
  padding-left: 1.25rem;
  margin: 0px;
}

button {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  color: var(--header-text);
  cursor: pointer;
  padding-top: 0.61rem;
  padding-bottom: 0.61rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: .5rem;
  margin-right: 1.25rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primaryAccent);
  background-color: var(--header-color);
}

header nav {
  margin-left: auto;
}

button:hover {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-color: var(--secondaryColor);
  background-color: var(--primaryAccent);
}

footer a {
  color: var(--header-text);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

footer i {
  font-size: 5em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color)
}

.links {
  padding-left: 1.25rem;
}

.pong-game {
  display: block;
  margin: auto;
  width: 400px;
}

.snake-score-container {
  display: grid;
  grid-template-columns: 200px 200px;
  text-align: center;
}

.score, .highScore {
  color: var(--primaryAccent);
  font-weight: 700;
}

.snake-game {
  display: grid;
  justify-content: center;
}

.social i {
  width: 5rem;
  height: 5rem;
  /* display: block; */
}

.social a {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.social {
  display: flex;
}


main p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

main {
  width: 60%;
  margin: auto;
  border: 2px solid var(--primaryAccent);
  border-radius: .5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

main h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: var(--primaryAccent);
}

main h4 {
  color: var(--primaryAccent);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

main h3, main h4 {
  font-family: "Inter", sans-serif;
}

strong {
  color: var(--primaryAccent);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
  --header-color: #3C8BBB;
  --header-text: #202B37;
  --primaryColor: #3C8BBB;
  --secondaryColor: #202B37;
  --primaryAccent: #44AFF5;
  --secondaryAccent: #3C8BBB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --header-color: #202B37;
    --header-text: #3C8BBB;
    --primaryColor: #3C8BBB;
    --secondaryColor: #202B37;
    --primaryAccent: #44AFF5;
    --secondaryAccent: #3C8BBB;
  }
}
